<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
   <div class="alert alert-info text-center" role="alert">
    Apis
  </div>
</div>


</body>
</html>
